* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #181818;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

button {
  background: none;
  border: none;
}

button:hover,
.logo:hover,
.sign-in-prompt:hover,
.sort-by {
  cursor: pointer;
}

header {
  background-color: #212121;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.left,
.center,
.right,
.sign-in-prompt,
.row-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  padding: 10px 6px;
}

.fas {
  padding: 8px;
}

.logo > p {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 28px;
}

.youtube-logo,
.youtube-channel {
  height: 36px;
  width: auto;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-right: 8px;
}

.search-box input {
  flex: 1;
  background-color: #121212;
  color: #ffffffe0;
  border: 1px solid #ffffff2a;
  font-size: 16px;
  padding: 6px 8px;
  height: 44px;
}

.search-box input:focus {
  outline: none;
}

.search-box button[type="submit"] {
  background-color: #ffffff14;
  height: 44px;
  width: 64px;
}

.voice-input {
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #121212;
}

.right {
  gap: 12px;
}

.sign-in-prompt {
  border: 1px solid #3ea6ff;
  border-radius: 4px;
  color: #3ea6ff;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.sign-in-prompt > p {
  color: inherit;
}

.sign-in-prompt > i {
  border: 1px solid #3ea6ff;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

main {
  width: 70%;
  padding: 16px;
}

iframe {
  width: 100%;
  height: 440px;
  margin-bottom: 16px;
}

.video-details {
  padding: 4px 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff18;
}

.video-details .views {
  color: #aaa;
}

.video-details .interactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}

.interactions button[type="button"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.channel-details {
  margin-top: 16px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ffffff18;
}

.youtube-channel {
  background-color: #fff;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.channel {
  margin-left: 12px;
}

.fa-check {
  background-color: #aaa;
  color: #181818;
  border-radius: 50%;
  padding: 2px;
  margin-left: 4px;
}

.channel p {
  color: #aaa;
}

.subscribe {
  border-radius: 4px;
  background-color: #cc0100;
  color: #fff;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: inherit;
}

.channel-more {
  margin-top: 12px;
  margin-left: 58px;
}

.channel-more a {
  text-decoration: none;
  color: #3ea6ff;
}

.comments {
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

aside {
  padding: 16px;
}

.related-videos {
  display: flex;
  margin-bottom: 10px;
}

.related-videos img {
  width: 180px;
  height: 100px;
}

.related-videos .details {
  margin-left: 10px;
}

.related-videos .details p {
  margin-bottom: 4px;
}

aside a {
  text-decoration: none;
}

.secondary-info {
  color: #aaa;
}